#dropbox {
	height: 250px;
	width: 250px;
	text-align: center;
}

.task-prefix {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.task-body {
	float: left;
}

.task-footer {
	text-align: right;
}
