#dropbox {
	height: 50px;
	text-align: center;
	vertical-align: center;
}

.todo {
	padding: 5px;
}

.todo-status {
	margin-left: 5px;
	margin-right: 5px;
}

.todo-priority {
	margin-right: 5px;
}

.todo-age {
	float: right;
	text-align: right;
}

.todo-description input[type=text] {
	box-sizing: border-box;
	width: 90%;
}
